.body{
background-color:#FFF;
max-width: 1400px;
min-height: 3843px;
margin: 0 auto;
width: 100%;
}
.navbar{
display: flex;
max-width: 1400px;
min-height: 78px;
flex-shrink: 0;
background-color: #FFF;
align-items: center;
padding-top: 20px;
justify-content: space-between;
width: 100%;
} 
.logo{
max-width: 143.117px;
min-height: 28.973px;
margin-left: 30px;
 margin-top:  25px;
float: left;
flex-shrink: 0;
fill: #173A56;
stroke-width: 1px;
stroke: #000;
display: flex;
align-items: center;
width: 100%;
}

.nav-links{
max-width: 350px;
line-height: 28px;
margin-right: 30px;
margin-top:  25px;
margin-bottom: 3769px;
color: #2F281E;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 200% */
}
.signin-btn{
max-width: 100px;
min-height: 40px;
background-color: #173A56;
border-radius: 5px;
border: none;
color: #FFF;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 21px;
text-align: center;
margin-right: 30px;
margin-top: 25px;
margin-bottom: 3769px;
flex-shrink: 0;
cursor: pointer;
width: 100%;
}
.signup-btn{
max-width: 100px;
min-height: 40px;
background-color: #FFF;
border-radius: 5px;
border: 1px solid #173A56;
color: #173A56;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 21px;
text-align: center;
margin-right: 30px;
margin-top: 25px;
margin-bottom: 3769px;
flex-shrink: 0;
cursor: pointer;
width: 100%;
}
.section-one{
max-width:1400px;
min-height: 3843px;
background-color: #FFF;
flex-shrink: 0;
margin-top: 25px;
margin-bottom: 3769px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 100%;
}
.main-title{
max-width: 518px;
min-height: 108px;
color: #2F281E;
font-family: Poppins;
font-size: 44px;
font-style: normal;
font-weight: 700;
line-height: 54px;
text-align: center;
width: 100%;
}
.main-info{
max-width: 458px;
min-height: 95px;
flex-shrink: 0;
color: #544837;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 155.556% */
width: 100%;
}
.main-button{
 max-width: 175px;
min-height: 53px;
flex-shrink: 0;
background-color:#F90;
border-radius: 4px;
border:none;
width: 100%;

}
.play-btn{
color: #F90;
font-family: awesome;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-decoration-line: underline;
max-width: 20px;
min-height: 17px;
transform: rotate(90deg);
fill: #F90;
width: 100%;
}
.main-img{
max-width: 467px;
min-height: 438px;
flex-shrink: 0;
fill: #FFE5D2;
width: 100%;
}
.section-two{
display: inline-flex;
padding: 38px 347.626px 102.597px 359.023px;
flex-direction: column;
align-items: center;
gap: 38.674px;
color: #2F281E;
color: #FFFFFF;
color:#544837;
color: #4DADF7;
color: #7752BE;
color: #F03E3D;
color: #FAB005;
color: #FF9900;
}
.sub-title{
max-width: 341.294px;
min-height: 108px;
color: #2F281E;
text-align: center;
font-family: Poppins;
font-size: 36px;
font-style: normal;
font-weight: 700;
width: 100%;
line-height: normal;
}
.icon1{
max-width: 31.66px;
min-height: 56.998px;
flex-shrink: 0;
border-radius: 19px;
background-color:  #7752BE;
width: 100%;
}
.icon1 title{
max-width: 103.844px;
min-height: 33px;
flex-shrink: 0;
color: #2F281E;
font-family: Poppins;
font-size: 22px;
font-style: normal;
font-weight: 600;
line-height: normal;
width: 100%;
}
.icon1 text{
max-width: 151.967px;
min-height: 59.278px;
flex-shrink: 0;
color: #544837;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 26px; /* 162.5% */
width: 100%;
}
.icon2{
 max-width: 31.66px;
min-height: 56.998px;
flex-shrink: 0;
background-color: #FAB005;
width: 100%;
}
.icon2 title{
max-width: 107.644px;
min-height: 33px;
flex-shrink: 0;
color: #2F281E;
font-family: Poppins;
font-size: 22px;
font-style: normal;
font-weight: 600;
line-height: normal;
width: 100%;
}
.icon2 text{
max-width: 151.967px;
min-height: 59.278px;
flex-shrink: 0;
color: #544837;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 26px; /* 162.5% */
width: 100%;
}
.icon3{
max-width: 31.66px;
min-height: 56.998px;
flex-shrink: 0;
background-color: #F03E3D;
width: 100%;
}
.icon3 title{
max-width: 114.609px;
min-height: 33px;
flex-shrink: 0;
color: #2F281E;
font-family: Poppins;
font-size: 22px;
font-style: normal;
font-weight: 600;
line-height: normal;
width: 100%;
}
.icon3 text{
 max-width: 151.967px;
min-height: 59.278px;
flex-shrink: 0;  
color: #544837;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 26px; /* 162.5% */
width: 100%;
}
.icon4{
max-width: 31.66px;
min-height: 56.998px;
flex-shrink: 0;
background-color: #4DADF7;
width: 100%;
}
.icon4 title{
color: #2F281E;
font-family: Poppins;
font-size: 22px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.singup-now{
max-width: 110.81px;
min-height: 60.418px;
border-radius: 4px;
 background: #F90;
 width: 100%;
}
.section-three{
max-width: 1110px;
min-height: 574px;
flex-shrink: 0;
margin-top: 1397px;
margin-bottom: 1872px;
margin-left: 145px;
margin-right: 145px;
width: 100%;
  }
.text{
color: #544837;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.section-heading{
color: #2F281E;
font-family: Poppins;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.section-para{
max-width: 486px;
color: #544837;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 26px; /* 162.5% */
width:100%;
}
.section-sub-heading{
color: #2F281E;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 26px; /* 162.5% */
}
.section-para{
max-width: 486px;
color: #544837;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 26px; /* 162.5% */
}
.section-sub-heading{
color: #2F281E;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 26px; /* 162.5% */
}
.section-para{
max-width: 486px;
color: #544837;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 26px; /* 162.5% */
}
.section-sub-heading{
color: #2F281E;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 26px; /* 162.5% */
}
.section-para{
max-width: 486px;
color: #544837;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 26px; /* 162.5% */
}
.effortless-validation{
max-width: 519.785px;
height: 573.31px;
flex-shrink: 0;
fill: #000;
}
.section-four{
max-width: 1400px;
height: 3843px;
background: #FFF;
   
}
.sub-setion-img{
max-width: 533px;
min-height: 521px;
flex-shrink: 0; 
fill: #000;
width: 100%;
}
.text{
color: #544837;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.section-heading{
color: #2F281E;
font-family: Poppins;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.section-para{
max-width: 486px;
color: #544837;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 26px; /* 162.5% */
}
.bulletpoint1{
max-width: 35px;
min-height: 35px;
flex-shrink: 0;
color: #FFFFFF;
color: #FF9900;
width: 100%;
}
.description1{
max-width: 365px;
flex-shrink: 0;
color: #544837;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 26px; /* 162.5% */
}
.bulletpoint2{
max-width: 385px;
color: #544837;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 26px; /* 162.5% */
}
.description2{
color: #544837;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 26px; /* 162.5% */
}
.bulletpoint3{
max-width: 1110px;
min-height: 609px;
flex-shrink: 0;
}
.description3{
color: #544837;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.text{
color: #2F281E;
font-family: Poppins;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.section-heading{
max-width: 486px;
color: #544837;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 26px; /* 162.5% */
}
.section-para{
color: #2F281E;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 26px; /* 162.5% */
}
.section-sub-heading{
max-width: 486px;
color: #544837;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 26px; /* 162.5% */
}
.section-para{
color: #2F281E;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 26px; /* 162.5% */
}
.section-sub-heading{
max-width: 486px;
color: #544837;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 26px; /* 162.5% */
}
.section-para{
color: #2F281E;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 26px; /* 162.5% */
}
.section-sub-heading{
max-width: 486px;
color: #544837;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 26px; /* 162.5% */
}
.sub-section-img{
max-width: 542px;
min-height: 609px;
flex-shrink: 0;
margin-left: 715px;
margin: right 143px; 
margin: top 2697px;
margin-bottom:537px ;
width: 100%;
}
.footer{
max-width: 1109px;
min-height: 308px;
flex-shrink: 0;
width: 100%;
}
.logo{
max-width: 31px;
min-height: 32px;
flex-shrink: 0;
background: lightgray 0px 0px / 100% 100% no-repeat;
width: 100%;
max-width: 142.348px;
min-height: 28.973px;
flex-shrink: 0;
margin-left: 210px;
margin-bottom: 256.03px;
margin-top: 3558px;
fill: #173A56;
width: 100%;
}
.quick-links{
color: #544837;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 35px; /* 218.75% */
}
.legal-stuff{
color: #544837;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 35px; /* 218.75% */
}

.links{
max-width: 280px;
min-height: 57px;
flex-shrink: 0;
color: #2F281E;
font-family: Aladin;
font-size: 20px;
font-style: normal;
font-weight: 400;
width: 100%;
line-height: 30px; /* 150% */   
}
.rectangle5copy{
color: #544837;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 35px; /* 218.75% */
}
.rectanglebutton{
max-width: 131px;
min-height: 39px;
flex-shrink: 0;  
border-radius: 4px;
background: #F90; 
width: 100%;
}